<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>茶っぱ図鑑｜お茶の思い</title>
	<link rel="stylesheet" href="stylesheets/bottom.css">
	<link rel="stylesheet" href="stylesheets/book.css">
	<link rel="icon" href="images/favicon.ico">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
	<script src="Separation/header.js"></script>
	<div class="logo">
		<div class="logo_pic">
			<g class="yuan">
				<img src="images/yuan.png" alt="">
			</g>
			<g class="content">
				<div class="left"></div>
				<div class="cent"></div>
				<div class="right"></div>
			</g>
		</div>
		<div class="word">
			<span>お茶の</span><span>思い</span>
			<p>BELOVED TEA</p>
		</div>
	</div>
	<div class="warp box">
		<section class="section_box1">
			<div>
				<div class="title_text">
					<div class="">
						<h2>
							<div>茶</div>
							<div>っ</div>
							<div>ぱ</div>
							<div>図</div>
							<div>鑑</div>
						</h2>
						<div class="clear"></div>
						<h3>
							<div>
									<div>T</div>
									<div>e</div>
									<div>a</div>
							</div>
							<!-- <div class="clear"></div> -->
							<div>
								<div>C</div>
								<div>u </div>
								<div>i</div>
								<div>d</div>
								<div>e</div>
							</div>
						</h3>
					</div>
					<div class="title_text_line"></div>
				</div>
				<div class="title_text_contents">
					<p>薩摩の風土と人が織りなす香りと味わい。<br>お茶を飲みながら、ふと人に教えたくなるような知覧茶とお茶のはまだのホントをご紹介します。</p>
					<span>品種が違えば、個性も異なる茶葉。茶っぱ図鑑では、はまだで取り扱っている様々な茶葉を品種ごとに⽐較しました。味わいの違いと特徴から、お好みの茶葉をお探しいただけます。</span>
				</div>
			</div>
		</section>
		<div class="tab">
			<div class="bg">
				<ul>
						<li>
							<a href="#one">
								<div>
									<img src="images/book_list_T-01.png" alt="">
									<span>T-01</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#two">
								<div>
									<img src="images/book_list_T-02.png" alt="">
									<span>T-02</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#three">
								<div>
									<img src="images/book_list_T-03.png" alt="">
									<span>T-03</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#four">
								<div>
									<img src="images/book_list_T-04.png" alt="">
									<span>T-04</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#five">
								<div>
									 <img src="images/book_list_T-05.png" alt="">
									 <span>T-05</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#six">
								<div>
									<img src="images/book_list_T-06.png" alt="">
									<span>T-06</span>
								</div>
							</a>
						</li>
				</ul>
				<div class="tab_box">
					 <div class="tab_content thesame" id="one" name="one">
							<div class="content_left mytoo">
									<span></span>
									<p>T-01</p>
								<div class="content_art">
									<span>やぶきた</span>
									<p>Yabukita</p>
								</div>
								<div class="icon">
									<div class="heart">
										<div class="left"></div>
										<div class="right"></div>
									</div>
									<img src="images/heart.png" alt="">
								</div>
								<div class="content_cav">
									<img src="images/T-01.png" alt="">
								</div>
								<div class="endding-button">
									 <button type="submit">この茶葉がベースの商品</button>
								</div>
							</div>
							<div class="content_right metoo">
									<img src="images/book_item_T-01.png" alt="" id="img">
									<div class="content_text">
										<div class="content_endleft">
											<h4>Feature</h4>
											<p>甘みのある濃厚な味と、ふわっと香る優雅な香りが特徴。水色（お茶の色）はやわらかく澄んだ黄緑色。</p>
										</div>
										<div class="content_endright">
											<h4>Biography</h4>
											<p>明治末から大正にかけて静岡で発見された品種。竹藪を切り開いた茶園の北側から発見されたため「やぶきた」と名付けられた。現在生産量の80％ほどを占める、最も普及している品種。</p>
										</div>
										<div class="content_img">
											<img src="images/T-01.png" alt="">
										</div>
									</div>
									<div class="end_top">
										<h4>Biography</h4>
										<p>明治末から大正にかけて静岡で発見された品種。竹藪を切り開いた茶園の北側から発見されたため「やぶきた」と名付けられた。現在生産量の80％ほどを占める、最も普及している品種。</p>
									</div>
									<div class="end_buttom">
										<button type="submit">この茶葉がベースの商品</button>
									</div>
							</div>
					 </div>
					 <div class="tab_clear"></div>
					 <div class="tab_text thesame" id="two" name="two">
							<div class="text_left metoo">
							 		<img src="images/book_item_T-01.png" alt="" id="img">
							 		<div class="content_text">
											<div class="content_endleft">
												<h4>Feature</h4>
												<p>鮮やかな緑色の水色が特徴。強くはないが上品な香り。くせの少ないすっきりとした味わいで、渋みが少なく、旨みがある。</p>
											</div>
											<div class="content_endright">
												<h4>Biography</h4>
												<p>「やぶきた」と「あさつゆ」の掛け合わせで生まれた品種。1990年に品種登録され、鹿児島や宮崎などの南九州を中心に普及</p>
											</div>
									</div>
							</div>
						 	<div class="text_right ">
						 			<span></span>
								    <p>T-02</p>
								    <div class="text_art">
										 <span>さえみどり</span>
										 <p>Saemidori</p>
								    </div>
								    <div class="picture">
								    	<img src="images/book_item_T-01.png" alt="" id="img">
								    </div>
								    <div class="text_icon">
								    	 <div class="text_heart">
											 <div class="left"></div>
											 <div class="right"></div>
										 </div>
									     <img src="images/heart.png" alt="">
								    </div>
								    <div class="content_endleft">
										<h4>Feature</h4>
										<p>鮮やかな緑色の水色が特徴。強くはないが上品な香り。くせの少ないすっきりとした味わいで、渋みが少なく、旨みがある。</p>
									</div>
								    <div class="text_cav">
									     <img src="images/T-02.png" alt="">
								    </div>
								    <div class="content_textright">
										<h4>Biography</h4>
										<p>「やぶきた」と「あさつゆ」の掛け合わせで生まれた品種。1990年に品種登録され、鹿児島や宮崎などの南九州を中心に普及</p>
									</div>
								    <div class="endding-button kuang">
									     <button type="submit">この茶葉がベースの商品</button>
								    </div>  
								    <div class="end_buttom">
										<button type="submit">この茶葉がベースの商品</button>
									</div>
						 	</div>
					 </div>
					 <div class="tab_clear"></div>
					 <div class="tab_content thesame" id="three" name="three">
							<div class="content_left mytoo">
								<span></span>
								<p>T-03</p>
								<div class="content_art">
									<span>ゆたかみどり</span>
									<p>Yutakamidori</p>
								</div>
								<div class="icon">
									<div class="heart">
										<div class="left"></div>
										<div class="right"></div>
									</div>
									<img src="images/heart.png" alt="">
								</div>
								<div class="content_cav">
									<div class="heart">
										<div class="left"></div>
										<div class="right"></div>
									</div>
									<img src="images/T-03.png" alt="">
								</div>
								<div class="endding-button">
									 <button type="submit">この茶葉がベースの商品</button>
								</div>
							</div>
							<div class="content_right metoo">
									<img src="images/book_item_T-01.png" alt="" id="img">
									<div class="content_text">
										<div class="content_endleft">
											<h4>Feature</h4>
											<p>苦み・渋みが強い茶葉だが、火を強く入れる「深蒸し製法」で甘みの強い濃厚な味に。水色も濃く、きりっと爽やかな香り。</p>
										</div>
										<div class="content_endright">
											<h4>Biography</h4>
											<p>生産量は「やぶきた」に次いで2位。寒さに弱いため温かい土地での栽培に向いている品種で、主な生産地は鹿児島。茶摘みの時期はやぶきたより5日早い。1966年に品種登録。</p>
										</div>
										<div class="content_img">
											<img src="images/T-01.png" alt="">
										</div>
									</div>
									<div class="end_top">
										<h4>Biography</h4>
										<p>明治末から大正にかけて静岡で発見された品種。竹藪を切り開いた茶園の北側から発見されたため「やぶきた」と名付けられた。現在生産量の80％ほどを占める、最も普及している品種。</p>
									</div>
									<div class="end_buttom">
										<button type="submit">この茶葉がベースの商品</button>
									</div>
							</div>
					 </div>
					 <div class="tab_clear"></div>
					  <div class="tab_text thesame" id="four" name="four">
							<div class="text_left metoo">
							 		<img src="images/book_item_T-01.png" alt="" id="img">
							 		<div class="content_text">
											<div class="content_endleft">
												<h4>Feature</h4>
												<p>苦み・渋みが強い茶葉だが、火を強く入れる「深蒸し製法」で甘みの強い濃厚な味に。水色も濃く、きりっと爽やかな香り。</p>
											</div>
											<div class="content_endright">
												<h4>Biography</h4>
												<p>生産量は「やぶきた」に次いで2位。寒さに弱いため温かい土地での栽培に向いている品種で、主な生産地は鹿児島。茶摘みの時期はやぶきたより5日早い。1966年に品種登録。</p>
											</div>
									</div>
							</div>
						 	<div class="text_right ">
						 			<span></span>
								    <p>T-04</p>
								    <div class="text_art">
										 <span>あさつゆ</span>
										 <p>Asatsuyu</p>
								    </div>
								    <div class="text_icon">
								    	<div class="text_heart">
											 <div class="left"></div>
											 <div class="right"></div>
										 </div>
									     <img src="images/heart.png" alt="">
								    </div>
								    <div class="picture">
								    	<img src="images/book_item_T-01.png" alt="" id="img">
								    </div>
								    <div class="content_endleft">
										<h4>Feature</h4>
										<p>特徴のある香り。味は、旨み・甘みが強く、渋みが少ない。水色はとろみのある深緑色。</p>
									</div>
								    <div class="text_cav">
									     <img src="images/T-04.png" alt="">
								    </div>
								    <div class="content_textright">
										<h4>Biography</h4>
										<p>天然玉露と呼ばれるほど高品質の品種で、主に鹿児島で栽培されている。1953年に品種登録。</p>
									</div>
								    <div class="endding-button kuang">
									     <button type="submit">この茶葉がベースの商品</button>
								    </div>
								    <div class="end_buttom">
										<button type="submit">この茶葉がベースの商品</button>
									</div>
						 	</div>
					 </div>
					  <div class="tab_clear"></div>
					  <div class="tab_content thesame" id="five" name="five">
							<div class="content_left mytoo">
								<span></span>
								<p>T-05</p>
								<div class="content_art">
									<span>あさのか</span>
									<p>Asanoka</p>
								</div>
								<div class="icon">
									<div class="heart">
										<div class="left"></div>
										<div class="right"></div>
									</div>
									<img src="images/heart.png" alt="">
								</div>
								<div class="content_cav">
									<img src="images/T-05.png" alt="">
								</div>
								<div class="endding-button">
									 <button type="submit">この茶葉がベースの商品</button>
								</div>
							</div>
							<div class="content_right metoo">
									<img src="images/book_item_T-01.png" alt="" id="img">
									<div class="content_text">
										<div class="content_endleft">
											<h4>Feature</h4>
											<p>特徴のあるすっきりとした香り。アミノ酸含有量が多く、味はまろやかで旨みがある。水色は、やや緑を含んだやわらかな淡黄色。</p>
										</div>
										<div class="content_endright">
											<h4>Biography</h4>
											<p>「やぶきた」と中国茶の掛け合わせにより生まれた新しい品種。鹿児島生まれ、鹿児島育ち。1996年に品種登録。</p>
										</div>
										<div class="content_img">
											<img src="images/T-01.png" alt="">
										</div>
									</div>
									<div class="end_top">
										<h4>Biography</h4>
										<p>明治末から大正にかけて静岡で発見された品種。竹藪を切り開いた茶園の北側から発見されたため「やぶきた」と名付けられた。現在生産量の80％ほどを占める、最も普及している品種。</p>
									</div>
									<div class="end_buttom">
										<button type="submit">この茶葉がベースの商品</button>
									</div>
							</div>
					 </div>
					  <div class="tab_clear"></div>
					  <div class="tab_text thesame"id="six" name="six">
							<div class="text_left metoo">
							 		<img src="images/book_item_T-01.png" alt="" id="img">
							 		<div class="content_text">
											<div class="content_endleft">
												<h4>Feature</h4>
												<p>特徴のあるすっきりとした香り。アミノ酸含有量が多く、味はまろやかで旨みがある。水色は、やや緑を含んだやわらかな淡黄色。</p>
											</div>
											<div class="content_endright">
												<h4>Biography</h4>
												<p>「やぶきた」と中国茶の掛け合わせにより生まれた新しい品種。鹿児島生まれ、鹿児島育ち。1996年に品種登録。</p>
											</div>
									</div>
							</div>
						 	<div class="text_right ">
						 			<span></span>
								    <p>T-06</p>
								    <div class="text_art">
										 <span>おくみどり</span>
										 <p>Okumidori</p>
								    </div>
								    <div class="text_icon">
								    	<div class="text_heart">
											 <div class="left"></div>
											 <div class="right"></div>
										 </div>
									     <img src="images/heart.png" alt="">
								    </div>
								    <div class="picture">
								    	<img src="images/book_item_T-01.png" alt="" id="img">
								    </div>
								    <div class="content_endleft">
										<h4>Feature</h4>
										<p>清々しい山の香り。個性的ではないが、欠点やくせがすくない。澄んだ黄金色の水色。</p>
									</div>
								    <div class="text_cav">
									     <img src="images/T-06.png" alt="">
								    </div>
								    <div class="content_textright">
										<h4>Biography</h4>
										<p>玉露や甜茶としても栽培される品種。主な生産地は鹿児島や京都で、茶摘みの時期は「やぶきた」より8日遅い。1974年に品種登録。</p>
									</div>
								    <div class="endding-button kuang">
									     <button type="submit">この茶葉がベースの商品</button>
								    </div>
								    <div class="end_buttom">
										<button type="submit">この茶葉がベースの商品</button>
									</div>
						 	</div>
					 </div>
					  <div class="tab_clear"></div>
				</div>
		    </div>
		</div>
		<div class="enjoy ">
			<div class="enjoy_box">
				<h5 class="centered">茶葉の数だけ、さまざまな楽しみ⽅があります。</h5>
				<span>茶葉の特性を熟知した茶師が、</span>
				<p>これら単⼀品種をブレンドし豊かな味と⾹りのお茶に仕⽴てます。</p>
                <div class="enjoy-button">
					 <button type="submit">はまだのブレンド</button>
				</div>
				<div class="enjoy_img">
					<img src="images/book_bottom_img_pc.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<script src="javascripts/honto.js"></script>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/bottom_after.js"></script>
</body>
</html>