<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知覧茶のホント｜お茶の思い</title>
	<link rel="stylesheet" href="stylesheets/bottom.css">
	<link rel="stylesheet" href="stylesheets/honto.css">
	<link rel="icon" href="images/favicon.ico">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
	<script src="Separation/header.js"></script>
	<div class="logo">
		<div class="logo_pic">
			<g class="yuan">
				<img src="images/yuan.png" alt="">
			</g>
			<g class="content">
				<div class="left"></div>
				<div class="cent"></div>
				<div class="right"></div>
			</g>
		</div>
		<div class="word">
			<span>お茶の</span><span>思い</span>
			<p>BELOVED TEA</p>
		</div>
	</div>
	<div class="warp box">
	    <section class="section_box1">
			<div>
				<div class="title_text">
					<div class="">
						<h2>
							<div>知</div>
							<div>覧</div>
							<div>茶</div>
							<div>の</div>
							<div>ホ</div>
							<div>ン</div>
							<div>ト</div>
						</h2>
						<div class="clear"></div>
						<h3>
							<div>
									<div>A</div>
									<div>b</div>
									<div>o</div>
									<div>u</div>
									<div>t</div>
							</div>
							<!-- <div class="clear"></div> -->
							<div>
								<div>C</div>
								<div>h </div>
								<div>i</div>
								<div>r</div>
								<div>a</div>
								<div>n</div>
							</div>
							<div>
								<div>T</div>
								<div>e</div>
								<div>a</div>
							</div>
						</h3>
					</div>
					<div class="title_text_line"></div>
				</div>
				<div class="title_text_contents">
					<p>薩摩の風土と人が織りなす香りと味わい。<br>お茶を飲みながら、ふと人に教えたくなるような知覧茶とお茶のはまだのホントをご紹介します。</p>
				</div>
			</div>
		</section>
		<div class="content">
			<div class="content_text1">
				<div class="text1_left">
					<img src="images/img_honto_01_01.jpg" alt="">
				</div>
				<div class="text1_right">
					<small>知覧茶のホント  その</small>
					<span class="num">1</span>
					<h6>日本一のお茶生産量
						<span class="border"></span>
					</h6>
					<p>南九州市は、寒暖の差が激しく霧が深い気候が、お茶の栽培に適している土地。実は日本の市町村の中で
						<span>生産量第1位の緑茶産地</span>
					なのです。　（都道府県別でも、鹿児島県は静岡県に次ぎ全国第2位の生産量です）
				    </p>
					<p>知覧茶は農林水産大臣賞や全国茶品評会日本農業中央会長賞受賞をはじめ、各種賞を受賞しており、品質と味の評価が高まっています。</p>
				</div>
			</div>
			<div class="content_text2">
				<div class="text2_left">
					<div>
						<small>知覧茶のホント その</small>
						<span class="num">2</span>
						<h6>豊富な栽培品種
							<span class="border"></span>
						</h6>
					</div>
					<p>知覧では火山灰の蓄積による肥沃な土地を生かし、他産地に比べて多くの品種のお茶を栽培しています。<br>個性豊かな茶葉によって合組（ブレンド）の幅も広がり、お客様一人ひとりの嗜好に合わせたお茶をお届けすることができます。</p>
				</div>
				<div class="text2_right">
					<div class="img">
						<img src="images/img_honto_02_01.png" alt="">
					</div>
					<div class="buttom">
						<div class="buttom_left">
							<p>はまだでお取り扱いのある品種</p>
							<div class="left_kuang">
								茶っぱ図鑑
							</div>
						</div>
						<div class="buttom_right">
							<p>美味しさの秘密「合組」とは？</p>
							<div class="right_kuang">
								はまだのブレンド
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content_text3">
				<div class="text3_left">
					<img src="images/img_honto_03_01.png" alt="">
				</div>
				<div class="text3_right">
					<small>知覧茶のホント その
						<span>3</span>
					</small>
					<h6>じっくり蒸した『深蒸し茶』
						<span class="border"></span>
					</h6>
					<p>知覧茶はほとんどが『深蒸し茶』と呼ばれるお茶です。<br>茶摘み後の蒸し工程において、一般的な煎茶の蒸し時間は30秒～40秒ですが、知覧茶は約2倍の60秒～80秒蒸します。</p>
					<p>長く蒸すことにより渋みが抑えられ、まろやかなコクが出ます。また葉が細かくなりますので、抽出すると濃い緑色が美しく、水出しで淹れるお茶としても向いています。</p>
				</div>
			</div>
			<div class="content_text4">
				<div class="text4_left">
					<small>知覧茶のホント その
						<span>4</span>
					</small>
					<h6>今、一番勢いのある産地
						<span class="border"></span>
					</h6>
					<p>知覧茶の農家では、30代の若い世代が手を取り合い知覧茶のさらなる品質向上と発展に取り組んでいます。<br>生産から企画・販売まで、丁寧に。茶業の後継ぎが順調に行われていると共に、組合のサポートもあり、南九州市全体で一貫した栽培が行われ良質なお茶を安定して生産しています。</p>
				</div>
				<div class="text4_right">
					<img src="images/img_honto_04_01.png" alt="">
				</div>
			</div>
			<div class="content_text5">
				<div class="img">
					<img src="images/img_honto_05_01.jpg" alt="">
				</div>
				<div class="text5">
					<p class="text5_txt">わたしたちお茶のはまだは、知覧を古くから支えてきた茶農家のみなさんに助けられながら<br class="text5_pc">知覧茶の美味しさを多くの人に届けていきます。<br>そして知覧の業と想いを、次の世代にも繋いでまいります。</p>
					<h6 class="text5_txt">知覧でお茶づくりに関わる人々をご紹介します。</h6>
					<div class="text5_button">
						 <button type="submit">入力内容を確認する</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="nav_fixd">
		<ul>
			<li class="fixd_title text1">
				<span class="border"></span>
				ホント
				<span class="number">1</span>
			</li>
			<li class="fixd_title text2">
				<span class="border"></span>
				ホント
				<span class="number">2</span>
			</li>
			<li class="fixd_title text3">
				<span class="border"></span>
				ホント
				<span class="number">3</span>
			</li>
			<li class="fixd_title text4">
				<span class="border"></span>
				ホント
				<span class="number">4</span>
			</li>
		</ul>
	</div>
	<script src="javascripts/honto.js"></script>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/bottom_after.js"></script>
</body>
</html>