<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>お茶の思い</title>
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon.png">

	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/index.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
	<script src="Separation/header.js"></script>
	<main>
		<div class="main-left">
			<!-- logo开始 -->
			<a href="#" class="main-logo"><div class="logo">
				<div class="logo_pic">
					<g class="yuan">
						<img src="./images/yuan.png" alt="">
					</g>
					<g class="content">
						<div class="left"></div>
						<div class="cent"></div>
						<div class="right"></div>
					</g>
				</div>
				<div class="word">
					<span>お茶の</span><span>思い</span>
					<p>BELOVED TEA</p>
				</div>
			</div></a>
			<!-- logo结束 -->
		</div>
		<div class="main-right">
			<div class="dirList">
				<ul>
					<li><a href="#">
						<span></span>
						<p>商品のご案内</p>
					</a></li>
					<li><a href="#">
						<span></span>
						<p>知覧茶のホント</p>
					</a></li>
					<li><a href="#">
						<span></span>
						<p>茶っぱ図鑑</p>
					</a></li>
					<li><a href="#">
						<span></span>
						<p>はまだのブレンド</p>
					</a></li>
					<li><a href="#">
						<span></span>
						<p>お茶を嗜む</p>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="main-text">
			<h2>知覧の息吹を、一葉に込めて</h2>
			<p>The essence of Chairan,in every leaf</p>
		</div>
	</main>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/index.js"></script>
</body>
</html>