<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>知覧茶のホント｜お茶の思い</title>
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon.png">
	<link rel="stylesheet" href="stylesheets/bottom.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/info.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
	<script src="Separation/header.js"></script>
<!-- logo开始 -->
	<div class="logo">
		<div class="logo_pic">
			<g class="yuan">
				<img src="images/yuan.png" alt="">
			</g>
			<g class="content">
				<div class="left"></div>
				<div class="cent"></div>
				<div class="right"></div>
			</g>
		</div>
		<div class="word">
			<span>お茶の</span><span>思い</span>
			<p>BELOVED TEA</p>
		</div>
	</div>
<!-- logo结束 -->

<!-- main结束 -->	
	<main>
		<section class="section_box1">
			<div>
				<div class="title_text">
					<div class="">
						<h2>
							<div>お</div>
							<div>知</div>
							<div>ら</div>
							<div>せ</div>
						</h2>
						<div class="clear"></div>
						<h3>
							<div>
									<div>I</div>
									<div>n</div>
									<div>f</div>
									<div>o</div>
									<div>r</div>
									<div>m</div>
									<div>a</div>
									<div>t</div>
									<div>i</div>
									<div>o</div>
									<div>n</div>
							</div>
						</h3>
					</div>
					<div class="title_text_line"></div>
				</div>
				<div class="title_text_contents">
					<p>記事カテゴリー</p>
					<ul>
						<li>
							<span>すべて</span>
							<svg class="check" width="100%" height="100%">
								<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
							</svg>
						</li>
						<li>
							<span>お知らせ</span>
							<svg class="check" width="100%" height="100%">
								<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
							</svg>
						</li>
						<li>
							<span>お茶のコト</span>
							<svg class="check" width="100%" height="100%">
								<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
							</svg>
						</li>
						<li>
							<span>知覧のヒト</span>
							<svg class="check" width="100%" height="100%">
								<path id="mark__check" fill-rule="evenodd" d="M10.000,2.240 L8.667,0.967 L4.000,5.425 L1.333,2.877 L-0.000,4.151 L2.667,6.698 L2.667,6.698 L4.000,7.972 L5.333,6.698 L5.333,6.698 L10.000,2.240 Z"></path>
							</svg>
						</li>
					</ul>
				</div>
			</div>

		</section>
		<section class="section_box2">
			<ul></ul>
		</section>
	</main>
<!-- main结束 -->	
	<script src="javascripts/bottom_after.js"></script>
</body>
</html>
<script src="javascripts/header.js"></script>
<script src="javascripts/info.js"></script>