<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>店舗のご案内｜お茶の思い</title>
	<link rel="stylesheet" href="stylesheets/shop.css">
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon.png">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/bottom.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>

	
</head>
<body>
	<!-- logo开始 -->
	<div class="logo">
		<div class="logo_pic">
			<g class="yuan">
				<img src="./images/yuan.png" alt="">
			</g>
			<g class="content">
				<div class="left"></div>
				<div class="cent"></div>
				<div class="right"></div>
			</g>
		</div>
		<div class="word">
			<span>お茶の</span><span>思い</span>
			<p>BELOVED TEA</p>
		</div>
	</div>
	<!-- logo结束 -->
 	<script src="Separation/header.js"></script>
	<div class="wrap box">
		<div class="main_container">
			<div id="boxone">
				<div class="oneInner_content">
					<div class="titleLeft">
						<div class="oneLeft_content">
							<h2 class="titlewords">
								<div>店</div>
								<div>舗</div>
								<div>の</div>
								<div>ご</div>
								<div>案</div>
								<div>内</div>
							</h2>
							<h3>
								<div>s</div>
								<div>h</div>
								<div>o</div>
								<div>p</div>
							</h3>
						</div>
						<div class="title_border"></div>
					</div>
					
					<div class="titleRight">
						<p class="smallwords">「薩摩の小京都」とも言われる知覧。その地で、はまだブレンドの美味しい知覧茶を販売しています。ご自宅用はもちろん、お土産、ギフトにも。試飲もできますので、ぜひお気軽にお立ち寄りください。</p>
					</div>
				</div>	
			</div>
			<div id="boxtwo">
				<div class="twoInner_content">
					<div class="boxtwo_onecontent">
						<div class="twoLeft">
							<div class="twoLeft_onecontent">
								<div class="twoLeft_onetitle">
									<strong class="greentitle">美</strong><h3 class="backtitle">味しいお茶を、知覧から</h3>
									<div class="cross_border"></div>
									<p>皆様のご来店をお待ちしております</p>
								</div>
								<div class="twoLeft_onemessage">
									<table boder="0" class="smallwords">
										<tr>
											<td class="th">住所</td>
											<td>鹿児島県南九州市知覧町郡17385</td>
										</tr>
										<tr>
											<td class="th">TEL</td>
											<td>0993-83-2851</td>
										</tr>
										<tr >
											<td class="th">FAX</td>
											<td>0993-83-3451</td>
										</tr>
									</table>
									<div class="one_buttom">
										<div class="one_innerbuttom">
											<a href="">お問い合わせ</a>
										</div>		
									</div>
								</div>
							</div>
						</div>
						<div class="twoRight">
							<img src="images/shop_main_photo.png" alt="">
						</div>
					</div>
					<div class="boxtwo_twocontent">
						<div id="twoLeft_map">
							
						</div>
						<div class="twoRight_twomessage">
							<p class="smallwords">お茶のはまだの店舗は、知覧特攻平和会館より程近い
							<br>県道沿いにあります。 
							<br>ピンク色の工場と隣接しています。</p>
							<p class="amap"><a href="">Goole Map</a></p>
							<div class="one_buttom">
								<div class="one_innerbuttom">
									<a href="">online shop</a>
								</div>	
							</div>
							<div class="ssmall">
								<small>直営オンラインショップからも 
								<br>商品をご注文いただけます</small>
							</div>
						</div>
					</div>
					<div class="boxtwo_threecontent">
						<div class="boxtwo_threemessage">
							<div class="boxtwo_threeLeft">
								<strong class="greentitle">会</strong><h3 class="backtitle">社概要</h3>
							</div>
							<div class="twotitle_border"></div>
							<div class="boxtwo_threeRight">
								<p>有限会社浜田茶業は、 
								知覧で大切にお茶を育てつづけている 茶商です。</p>
							</div>

						</div>
						<div class="twoimg">
								<img src="images/shop_company_photo_pc.jpg" alt="">
								<!-- <img src="images/shop_company_photo_sp.jpg" alt=""> -->
						</div>
						<div class="boxtwo_undertext">
							<h4>お茶のはまだの これまでと、これから</h4>
						</div>
					</div>
				</div>
			</div>
			<div id="boxthree">
				<div class="boxthree_content">
					<div id="year1970">
						<div class="history1">
							<p>
								<span class="year">1970</span>
								<span class="greendot"></span>
							</p>
							<div class="historyimg1">
								<img src="images/shop_history-1970.png" alt="">
							</div>
							
						</div>
						<div class="history_detail1">
							<h5 class="history_title">浜田茶業を個人創業</h5>
							<p class="smallwords">先代 浜田正治が40歳のとき、17年間勤めた知覧農業協同組合を退職し、浜田茶業を個人創業。工場を持っていなかったため、西垂水茶業の一角を借りて荒茶の配合を行っていた。 
							「厳選した国産茶葉(鹿児島県産)のみを販売する」と決めた正治の姿勢とその味は、当時最大の市場であった静岡県茶市場で高く評価された。その結果、当時は県単位でなければ出荷できなかった静岡茶市場へ、個人での出荷が認められた。</p>
						</div>
					</div>
					<div id="year1973">
						<div class="history2">
							<p  class="yeardot1">
								<span class="year1">1973</span>
								<span class="dash"></span>
								<small class="graydot"></small>
							</p>
							<div class="year1_text">
								<p>霜出に集荷場と事務所を建設。妻の幸枝と2人で夜1時過ぎまで働く日々が続く。</p>
							</div>
						</div>
					</div>
					<div id="year1975">
						<div class="history3">
							<p>
								<span class="greendot"></span>
								<span class="year">1975</span>
								
							</p>
							<div class="historyimg3">
								<img src="images/shop_history-1975.png" alt="">
							</div>
							<div class="history_detail3">
								<h5 class="history_title">会社設立</h5>
								<p class="smallwords">業績の向上に伴い法人化し、有限会社浜田茶業を設立。従業員2名</p>
							</div>
						</div>
					</div>
					<div id="year1980">
                      	<div class="history4">
							<p>
								<span class="year">1980</span>
								<span class="greendot"></span>
							</p>
							<div class="historyimg4">
								<img src="images/shop_history-1980.png" alt="">
							</div>
							<div class="history_detail4">
								<h5 class="history_title">小売業の開始</h5>
								<p class="smallwords">増大する茶葉の取扱量に対応するため、現在地（知覧）に集荷施設及び茶配合施設を完備。 
								事務所の一角で小売販売を始める。</p>
							</div>
							
						</div>
					</div>
					<div id="year1985">
                    	<div class="history5">
							<p class="revyeardot1">
								<small class="revgraydot"></small>
								<span class="revdash"></span>
								<span class="revyear1">1985</span>
							</p>
							<div class="revyear1_text">
								<p>販路拡大のため、仕上加工施設を新設。 
								<br>生産農家の声を反映し、仕上委託加工の受け入れを開始。</p>
							</div>
						</div>
					</div>
					<div id="year1996">
                       <div class="history2">
							<p  class="yeardot1">
								<span class="year1">1996</span>
								<span class="dash"></span>
								<small class="graydot"></small>
							</p>
							<div class="year1_text">
								<p>ペットボトル茶やティーバッグ茶の需要増大に対応するため、第二工場を新設。さらに保管倉庫を建設。</p>
							</div>
						</div>
					</div>
					<div id="year2000">
                      <div class="history1">
							<p>
								<span class="greendot"></span>
								<span class="year">2000</span>
							</p>
							<div class="historyimg1">
								<img src="images/shop_history-2000.png" alt="">
							</div>
							
						</div>
						<div class="history_detail1">
							<h5 class="history_title">「お茶のはまだ」 建設</h5>
							<p class="smallwords">観光地である知覧で気軽に立ち寄れる知覧茶の店舗を作るため、『お茶のはまだ』の実店舗を建設。小売業を本格的に開始。</p>
						</div>
					</div>
					<div id="year2002">
                       <div class="history5">
							<p class="revyeardot1">
								<small class="revgraydot"></small>
								<span class="revdash"></span>
								<span class="revyear1">2002</span>
							</p>
							<div class="revyear1_text">
								<p>長男の眞一、二代目社長に就任。従業員17名</p>
							</div>
						</div>
		             </div>	
					<div id="year2016">
						<div class="history2">
							<p  class="yeardot1">
								<span class="year1">2016</span>
								<span class="dash"></span>
								<small class="graydot"></small>
							</p>
							<div class="year1_text">
								<p>海外需要への販路拡大のため、有機ＪＡＳ認証取得。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="boxfour">
				<div class="fourInner_content">
					<div class="company">
						<h4 class="boxfour_title">企業情報</h4>
							<div class="twoLeft_onemessage">
									<table boder="0" class="smallwords">
										<tr>
											<td class="td">会社名</td>
											<td class="tk">有限会社 浜田茶業</td>
										</tr>
										<tr>
											<td class="td">代表者</td>
											<td class="tk">濵田 眞一</td>
										</tr>
										<tr >
											<td class="td">FAX</td>
											<td class="tk">鹿児島県南九州市知覧町郡17385
											<br>TEL : 0993-83-2851
											<br>FAX : 0993-83-3451<br></td>
										</tr>
										<tr>
										<td class="td">設立</td>
											<td class="tk">個人創業 1970年3月
                                              <br>会社設立 1975年4月
											</td>
										</tr>
										<tr>
										<td class="td">事業内容</td>
											<td class="tk">荒茶販売、店舗小売、資材販売</td>
										</tr>

									</table>
									<div id="three_buttom">
										<div class="left_buttom">
											<div class="one_innerbuttom">
												<a href="">お問い合わせ</a>
											</div>
										</div>	
										<div class="right_buttom">
											<div class="one_innerbuttom">
												<a href="">online shop</a>
											</div>	
										</div>			
									</div>
								</div>

					</div>
					<div class="personal">
                    	<h4 class="boxfour_title">個人情報の取扱について</h4>
                    	<div class="personal_text">
							<p class="smallwords">当Webサイトでは、以下に基づき個人情報を保護・取扱いしております。個人情報の保管･管理につきましては、個人情報保護に関する方針に従い、皆様の一人一人の情報を十分に配慮し慎重な個人情報管理体制を築いていきます。</p>
							<h5>適切な個人情報の利用目的について<div class="dotted"></div></h5>
							<p class="smallwords">個人情報の取得は、常に利用目的を明確に定め、それ以外での利用は一切行いません。</p>
							<h5>個人情報の保護管理･セキュリティー対策について<div class="dotted"></div></h5>
							<p class="smallwords">個人情報の漏洩、紛失、不正アクセス等の危険に対して、できる限り細心の注意を払って対応していきます。</p>
							<h5>個人情報取扱上の法令･綱領･規制について<div class="dotted"></div></h5>
							<p class="smallwords">個人情報を取扱う業務の遂行にあたっては、国内法令はもとより、社内の規定に準拠して行動していきます。</p>
							<h5>適切な個人情報の利用目的について<div class="dotted"></div></h5>
							<p class="smallwords">個人情報の取得は、常に利用目的を明確に定め、それ以外での利用は一切行いません。</p>
							<h5>個人情報の保護管理･セキュリティー対策について<div class="dotted"></div></h5>
							<p class="smallwords">個人情報の漏洩、紛失、不正アクセス等の危険に対して、できる限り細心の注意を払って対応していきます。</p>
							<h5>個人情報取扱上の法令･綱領･規制について<div class="dotted"></div></h5>
							<p class="smallwords">個人情報を取扱う業務の遂行にあたっては、国内法令はもとより、社内の規定に準拠して行動していきます。</p>
                    	</div>
					</div>
		
				</div>

			</div>
		</div>
	</div>	
	<script src="javascripts/shop.js"></script>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/bottom_after.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.12&key=bd4f4e0c215b30c59990c5128abb199a"></script>

</body>
</html>