<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>お茶を嗜む｜お茶の思い</title>
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon.png">
	<link rel="stylesheet" href="stylesheets/tashinamu.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/bottom.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
	<!-- logo开始 -->
	<div class="logo">
		<div class="logo_pic">
			<g class="yuan">
				<img src="./images/yuan.png" alt="">
			</g>
			<g class="content">
				<div class="left"></div>
				<div class="cent"></div>
				<div class="right"></div>
			</g>
		</div>
		<div class="word">
			<span>お茶の</span><span>思い</span>
			<p>BELOVED TEA</p>
		</div>
	</div>
<!-- logo结束 -->
	<script src="Separation/header.js"></script>
 		<div class="wrap box">
			<div class="main_container">
	 		
			<div id="boxone">
				<div class="oneInner_content">
					<div class="titleLeft">
						<div class="oneLeft_content">
							<h2 class="titlewords">
								<div>お</div>
								<div>茶</div>
								<div>を</div>
								<div>嗜</div>
								<div>む</div>
							</h2>
							<h3>
								<div>T</div>
								<div>a</div>
								<div>s</div>
								<div>h</div>
								<div>i</div>
								<div>n</div>
								<div>a</div>
								<div>m</div>
								<div>u</div>
							</h3>
						</div>
						<div class="title_border"></div>
					</div>
					
					<div class="titleRight">
						<p class="smallwords">「薩摩の小京都」とも言われる知覧。その地で、はまだブレンドの美味しい知覧茶を販売しています。ご自宅用はもちろん、お土産、ギフトにも。試飲もできますので、ぜひお気軽にお立ち寄りください。</p>
					</div>
				</div>	
			</div>
			<div id="boxtwo">
				<div class="box2_inner">
					<div class="inner_content">
						<div class="flex_box">
							<div class="content_left">
								<img src="images/illust_tashianmu_top.png" alt="">
							</div>
							<div class="content_right">
								<ul>
									<li>
										<div class="contentwrap">
											<div class="li_img">
												<img src="images/illust_bottom_tashinamu_01.png" alt="">
											</div>
											<p>いくつ知ってますか?</p>
											<h8>お茶の種類</h8>
											<div class="border_dot"></div>

										</div>
									</li>
									<li>
										<div class="contentwrap">
											<div class="li_img">
												<img src="images/illust_bottom_tashinamu_02.png" alt="">
											</div>
										
											<p>基本を知って好みを知る</p>
											<h8>淹れ方講座</h8>
											<div class="border_dot"></div>

										</div>
									</li>
									<li>
										<div class="contentwrap">
											<div class="li_img">
												<img src="images/illust_bottom_tashinamu_03.png" alt="">
											</div>
											
											<p>いつでも美味しく飲める</p>
											<h8>正しい保管方法</h8>
											<div class="border_dot"></div>
										</div>
									</li>
									<li>
										<div class="contentwrap">
											<div class="li_img">
												<img src="images/illust_bottom_tashinamu_04.png" alt="">
											</div>
											
											<p>思わず人に教えたくなる</p>
											<h8>お茶のトリビア</h8>
											<div class="border_dot"></div>
											
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="javascripts/tashinamu.js"></script>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/bottom_after.js"></script>

</body>
</html>