<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>はまだのブレンド｜お茶の思い</title>
	<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1085852_78uwly4wx6w.css">
	<link rel="stylesheet" href="stylesheets/teacraft.css">
	<link rel="stylesheet" href="stylesheets/bottom.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
	<script src="separation/header.js"></script>
	<main>
		<section class="top">
			<!-- 混合 -->
			<div class="blend">
				<div class="blend_content">
					<div class="blend_left">
						<hgroup>
							<h2>はまだのブレンド</h2>
							<h4>Hamada Blends</h4>
						</hgroup>
						<span></span>
					</div>
					<div class="blend_right">
						<p>ブレンドは、日本茶の世界では『合組』と呼ばれています。合組によってその店ならではの味わいが決まるので、茶師の腕の見せどころと言えます。たくさんの種類の茶葉を取り扱うはまだでは、ひとつひとつの特性を見極め、嗜好品としての価値を最大限に高めるため、熟練の茶師による合組を行なっております。</p>
					</div>
				</div>
			</div>
		</section>
		<section class="bottom">
			<!-- 美味的秘密 -->
			<div class="secret">
				<div class="secret_content">
					<div class="secret_left">
						<img class="img-responsive" src="images/secret.jpg" alt="">
					</div>
					<div class="secret_right">
						<p class="title">
							<span><b>美</b>味しさの秘密は<i></i></span>
							<span>合組にあり</span>
						</p>
						<div class="desc">
							<p>日ごろ口にしているお茶のほとんどは、いくつかの品種が違う茶葉をブレンドした、いわゆる“ブレンド茶”です。<br>
							<p>コーヒーでは“シングルオリジン”と呼ばれる単一種豆のみを楽しむことも多いですが、お茶の世界では、それぞれの品種の良いところをかけ合わせて調和をとり、より豊かな味と香りを作りだすことが一般的です。</p>
						</div>
					</div>
				</div>
			</div>
			<!-- 茶师 -->
			<div class="masters">
				<div class="masters_content">
					<div class="masters_right">
						<p><img class="img-responsive" src="images/masters1.jpg" alt=""></p>
						<div class="masters_desc">
							<p class="desc">合組は、お茶を創る職人である『茶師』が担っています。茶葉は、季節や収穫された日によっても味わいが微妙に変わるもの。一年を通して風味のばらつきがないように、目、鼻、舌、手触りなどで茶葉の特性を見極め、品種の選定や配合を調整。茶葉の長所を活かしたお茶に仕立てます。</p>
							<p class="desc">茶師は、全国に700人ほどしか存在していません。お茶の風味を決定する重要な役割ですので、鑑識眼の技量を示す段位が定められています。最高位となる十段に認定されているのは、わずか13名ほど。厳しい世界でその業を磨き続けています。</p>
						</div>
					</div>
					<div class="masters_left">
						<p class="title">
							<span><b>茶</b>を極める職人<i></i></span>
							<span>『茶師』</span>
						</p>
						<p><img src="images/masters.jpg" alt=""></p>
					</div>
				</div>
			</div>
			<!-- 茶师的故事 -->
			<div class="story">
				<div class="story_title">
					<div class="title_content">
						<div class="st_left">
							<p class="title">
								<span><b>茶</b>師の仕事</span>
							</p>
						</div>
						<div class="st_right"><p class="desc">茶師の仕事は合組だけにとどまりません。荒茶 （あらちゃ） と呼ばれる1次加工を終えた茶葉を、仕上げ茶として袋詰めし、出荷するまでの全ての工程にも責任をもって携わります。</p></div>
					</div>
				</div>
				<div class="story_content">
					<span class="story_boder"></span>
					<div class="story_one">
						<div class="one_right">
								<p><img src="images/story.jpg" alt=""></p>
								<p><img src="images/story1.jpg" alt=""></p>
						</div>
						<div class="one_left story_content_title">
							<p><span>01</span><span>見栄えを整える</span><br><span>『篩分け』 と 『選別』</span></p>
							<p class="desc">お茶は、古くから味や香りだけではなく、見た目の美しさもとても大切にされてきました。荒茶の状態では茶葉の形や長さにバラつきがあったり、茎や異物が混じっているので、まずはそれらを取り除き、茶葉の大きさを揃えることで見栄えを整えます。</p>
						</div>
					</div>
					<div class="story_two">
						<div class="two_left">
							<img src="images/story2.jpg" alt="">
						</div>
						<div class="two_right story_content_title">
							<p><span>02</span><span>味と香りを引き出す</span><br><span>『火入れ』</span></p>
							<p class="desc">荒茶の状態では、実はほとんど茶葉に香りはありません。火入れを行うことで香ばしさを出し、茶葉の甘みを引き出すのです。<br> 茶師は品種や季節によって、火の温度と火を入れる時間を細かく調整します。 <br>温度と時間が変わると出来も変化するため、経験と技術が必要となる工程です。</p>
						</div>
					</div>
					<div class="story_three">
						<div class="three_swaper"><img src="images/story3.jpg" alt=""></div>
						<div class="three_title story_content_title">
							<p><span>03</span><span>味を決める『合組』</span><br><span></span></p>
							<p class="desc">お茶のはまだ独自の味を作り、 そして通年で品質を安定させるために茶葉をブレンドする、最も重要な工程です。 茶葉の特徴を熟知し、 状態の良い茶葉を選定する鑑識眼が求められます。</p>
						</div>
					</div>
					<div class="story_four">
						<div class="four_right">
							<img src="images/story4.jpg" alt="">	
						</div>
						<div class="four_left story_content_title">
							<p><span>04</span><span>最終仕上げ</span><br><span></span></p>
							<p class="desc">合組が終わった茶葉は、異物が混入していないかを改めて確認。その後袋詰し、出荷となります。</p>
						</div>
					</div>
				</div>
			</div>
			<!-- 茶师的等级 -->
			<div class="rank">
				<div class="rank_title">
					<span class="rank_border"></span>
					<p class="title">
						<span><b>は</b>まだの茶師</span>
					</p>
					<p class="desc">お茶のはまだには、南九州市内で最高有段者にあたる2人の茶師が在籍しています。 確かな業と経験で、お客様に美味しい知覧茶をお届けいたします。</p>
				</div>
				<div class="rank_swaper">
					<img src="images/rank.jpg" alt="">
					<h6><s></s><p>濵田 眞一</p><span>茶師六段</span></h6>
					<h6><s></s><p>濵田 秀平</p><span>茶師六段</span></h6>
				</div>
			</div>
			<!-- 品尝茶师的茶 -->
			<div class="taste">
				<div class="taste_swaper"><img src="images/taste.jpg" alt=""></div>
				<div class="taste_title">
					<p><span>茶師こだわりのお茶を</span><span>ぜひお召し上がりください	</span></p>
					<p><a href="">商品のご案内<span></span></a></p>
				</div>
			</div>
		</section>
	</main>
</body>
<script src="javascripts/teacraft.js"></script>
<script src="javascripts/header.js"></script>
<script src="javascripts/bottom_after.js"></script>
</html>